body {
    font-family: 'Arial', sans-serif;
     margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
    color: white;
}

header {
    background: #1c1c1c;
    color: #ffffff;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-media .icon {
    width: 50px; 
    margin: 0 15px; 
    transition: transform 0.4s; 
}

.social-media .icon:hover {
    transform: scale(2.2);
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #ff4444; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

main {
    padding-top: 120px; 
}

.intro-background {
    height: 400px;
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.intro-background h1 {
    font-size: 2.1rem;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 0.8s ease forwards;
}

.intro-background h2 {
    font-size: 1.6rem;
    margin: 5px 0;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
    animation-delay: 0.3s;
}

.profile-image {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}

.profile-image.enlarged {
    transform: scale(4.4);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5); 
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}